<footer>
<br>
<br>
<div class="sectionpart" >
 <div class="row "> 
<div class=" card col-lg-6" style="background-color: #153e35;">
 <br>
 <br>
 <div ><img style="margin-left:100px; height: 90px;" src="/assets/images/kanopi2.jpg"></div>
 <p style="margin-left:120px;">We<a style="color: rgb(211, 211, 31);padding: 5px 5px 5px 5px"href="#">design</a>,<a style="color: rgb(211, 211, 31);padding: 5px 5px 5px 5px" href="#">build</a>and<a style="color: rgb(211, 211, 31);padding: 5px 5px 5px 5px" href="#">support</a>websites for clients<br><br> who want to make a positive impact.</p>
</div>
<div class="card col-lg-6" style="background-color: #153e35;">
<br>
<br>
<div style="border-style: solid;height: 300px; border-right: none; border-bottom-left-radius:50px ;">
 <div class="row">
<div class="col-lg-3" >
<img style="border-radius:100px; padding:20px 20px 20px 20px; height: 200px;" src="/assets/images/tanya.jpg">
</div>
<div class="col-lg-8">
 <br>
 <br>
<p style="margin-left: 50px; letter-spacing: 2px;">Get In Touch<br><br>
 Let's create something better<br> together.</p><br>
 <br>
 <button class="chat"><b>Chat With Tanya</b></button>
</div>
</div>
</div>
</div>
</div>			
</div>		
<section>
<div class="row">
<div class="col col-4">
<div class="sectiondiv">
 <ul type="none">
   <li>
     <b>Services</b></li>
   <li>Research & Discovery</li>
   <li>Content Strategy</li>
   <li> User Experience</li>
   <li> Website Design</li>
   <li> Website Development</li>
   <li> Website Support</li>
 </ul>
</div>
</div>
<div class="col col-4">
 <div class="sectiondiv">
 <ul type ="none">
<li><b>Newsletter</b></li>
<li>Get bi-monthly tips on how to make the most impact with your website.</li>
<br>
<br>
<form>
<li>Email*</li>
<input type="email"class="form-control" name="useremail" formControlName="useremail" placeholder="ENTER EMAIL">
<br>
<button class="sign"routerLink="sign" ><b>Sign Me Up</b></button>
</form>
</ul>
</div>
</div>
<div class="col col-4">
 <div class="sectiondiv">
   <ul type ="none">
 <li><b>Connect With Us</b></li>
 <li>Careers</li>
 <li>Contact</li>
 <br>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span><br>
<b>20 reviews</b>
   </ul>
 </div>
</div>
</div>
</section>	

<div class="row">
<div class="col col-8">
 <br>
<h6 style="margin-left: 30px"> &copy; 2022 Kanopi Studios | All Rights Reserved |<button style="border: none;background: none;">Do Not Sell My Personal Information</button>  | 
 Privacy Policy</h6>
</div>
<div class="col col-4">
 <i class="fa-brands fa-2x fa-github-alt" style="float: right;padding: 10px 10px 10px 10px; background-color: #153e35;color: white; border-radius: 30px;"></i>
 <i class="fa-brands fa-2x fa-wordpress" style="float: right;padding: 10px 10px 10px 10px;background-color: #153e35;color: white; border-radius: 30px;"></i>
 <i class="fa-brands fa-2x fa-drupal" style="float: right;padding: 10px 10px 10px 10px;background-color: #153e35;color: white; border-radius: 30px;"></i>
 <i class="fa-brands fa-2x fa-twitter" style="float: right;padding: 10px 10px 10px 10px;background-color: #153e35;color: white; border-radius: 30px;"></i>
 <i class="fa-brands fa-2x fa-linkedin" style="float: right;padding: 10px 10px 10px 10px;background-color: #153e35;color: white; border-radius: 30px;"></i>
 <i class="fa-brands fa-2x fa-youtube" style="float: right;padding: 10px 10px 10px 10px;background-color: #153e35;color: white; border-radius: 30px;"></i>
 <i class="fa-brands fa-2x fa-facebook" style="float: right; padding: 10px 10px 10px 10px;background-color: #153e35;color: white; border-radius: 30px;"></i>
</div>
</div>
</footer>
