<div class="aboutpage">
  <h1 style="font-size:20px;">About Us ----</h1>
  <div>
    <h1 class="about_h1">Kanopi emerged from a love of treehouses.</h1>
    <p class="content1">
      Treehouses are amazing structures in the sky. Incredible works of craftsmanship and creativity that exist in a larger context of their surroundings. Kanopi vowed to build a web agency upon that same foundation:
      pairing creative solutions with sustainable and strong architecture, while keeping the client’s entir ecosystem in mind.<b> Read more about the history of Kanopi and the origin of our name.</b>
    </p>
  </div>
</div>

<div class="components">
  <section class="component component--tabs" aria-label="Why Kanopi?">
    <div class="component__content component--tabs__content">
      <h2 class="component__heading">Why Kanopi?</h2>
    </div>
    <div class="component--tabs__nav" role="tablist">
      <ul class="tab-nav">
        <li data-tab="tab-nav-item-1" class="tab-nav__item">
          <a id="tabs-1-nav-item-1" data-controls="tab-item-1" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-1">
            <h3 class="tab-nav__heading" href="#tabs-1-item-1"> Women-run & inclusive</h3> 
            
          </a>
        </li>
        <li data-tab="tab-nav-item-2" class="tab-nav__item">
          <a id="tabs-1-nav-item-2" data-controls="tab-item-2" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-2">
            <h3 class="tab-nav__heading" href="#tabs-1-item-2">Mission-focused clients</h3>
          </a>
        </li>
        <li data-tab="tab-nav-item-3" class="tab-nav__item">
          <a id="tabs-1-nav-item-3" data-controls="tab-item-3" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-3">
            <h3 class="tab-nav__heading"> We design, build & support websites</h3>
          </a>
        </li>
        <li data-tab="tab-nav-item-4" class="tab-nav__item">
          <a id="tabs-1-nav-item-4" data-controls="tab-item-4" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-4">
            <h3 class="tab-nav__heading"> Our support is unmatched</h3>
          </a>
        </li>
        <li data-tab="tab-nav-item-5" class="tab-nav__item">
          <a id="tabs-1-nav-item-5" data-controls="tab-item-5" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-5">
            <h3 class="tab-nav__heading">Accessibility is imperative</h3>
          </a>
        </li>
        <li data-tab="tab-nav-item-6" class="tab-nav__item">
          <a id="tabs-1-nav-item-6" data-controls="tab-item-6" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-6">
            <h3 class="tab-nav__heading"> Design matters</h3>
          </a>
        </li>
        <li data-tab="tab-nav-item-7" class="tab-nav__item">
          <a id="tabs-1-nav-item-7" data-controls="tab-item-7" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-7">
            <h3 class="tab-nav__heading">We're values-driven</h3>
          </a>
        </li>
        <li data-tab="tab-nav-item-8" class="tab-nav__item">
          <a id="tabs-1-nav-item-8" data-controls="tab-item-8" tabindex="0" class="tab-nav__link" aria-expanded="false" role="tab" aria-selected="false" aria-controls="tabs-1-item-8">
            <h3 class="tab-nav__heading">We give back</h3>
          </a>
        </li>
      </ul>
    </div>
    <div id="tabs-1" class="tabs component__accordion component--tabs__accordion">
      <div id="tabs-1-item-1" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-1" tabindex="0">
        <h3 data-count="1" data-tab="tab-item-1" class="accordion__heading tab__heading" role="tab" aria-expanded="false">Women-run & inclusive</h3>
        <div class="accordion__description tab__content">
          <div class="tab__media">
            <img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2019/07/Kanopi-PalmSpringsRetreat-116-870x470.jpg" class="tab__image"/>
          </div>
          <h4 class="">Women led, family owned, & more inclusive than most.</h4>
          <p><span style="font-weight: 400"><a href="https://kanopi.com/staff/anne-stefanyk/">Anne</a> started Kanopi in 2013 with her sister <a href="https://kanopi.com/staff/jill-taiji/">Jill</a>. Under their leadership, it’s grown into a world-class website strategy, design, development, and support agency with 60+ employees . . . and counting.</span></p>
          <p><span style="font-weight: 400">But besides being woman-owned and led, we are more inclusive than most agencies in the tech space (though we can always do better). Some stats as of May 2022: </span></p>
          <ul>
            <li style="font-weight: 400">
              <span style="font-weight: 400">86% of leadership are female or non-binary</span>
            </li>
            <li style="font-weight: 400"><span style="font-weight: 400">48% of all employees are female ornon-binary</span></li>
            <li style="font-weight: 400"><span style="font-weight: 400">50% of employees are over the age of 40</span></li>
            <li style="font-weight: 400"><span style="font-weight: 400">24% are persons of color</span></li>
            <li style="font-weight: 400"><span style="font-weight: 400">16% are people who are disabled</span></li>
            <li style="font-weight: 400"><span style="font-weight: 400">11% identify as LGBTQ+</span></li>
          </ul>
          <p><span style="font-weight: 400">Our employees have rated us as </span><a href="https://www.greatplacetowork.com/certified-company/7025730">
             <span style="font-weight: 400"><strong>100% a Great Place to Work</strong></span></a>
            <span style="font-weight: 400">. We also had an 80% retention rate during the Great Resignation. Employee happiness is crucial for us as it translates directly into great client work. </span></p>
        </div>
      </div>
      <div id="tabs-1-item-2" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-2" tabindex="0">
        <h3 data-count="2" data-tab="tab-item-2" class="accordion__heading tab__heading" role="tab" aria-expanded="false">Mission-focused clients</h3>
        <div class="accordion__description tab__content">
          <div class="tab__media">
            <img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2019/08/iStock-476149822_small-870x470.jpg" class="tab__image"/>
          </div>
          <h4 class="">Our clients are good for people and the planet.</h4>
          <p><span style="font-weight: 400">Kanopi wants to do good by and for the world, so our client base is made up almost exclusively of organizations that have a mission that creates and supports positive change. This
              means we are heavily concentrated in non-profit work and higher education, in addition to do-gooder
              corporate and healthcare clients. </span></p>
          <p><span style="font-weight: 400">We won’t work for any organization that deals in oil, gas, weapons, or plastics (unless it’s recycling or sustainability-related). We also don’t work for religious
              organizations, start-ups, or anyone who wants a site that’s little more than an online brochure. </span>
          </p>
          <p><span style="font-weight: 400">Our ideal client understands that their website is an investment towards the long-term growth and evolution of their digital presence as it supports their organization. As we like to
              say, the day your site launches is the </span><i><span style="font-weight: 400">first</span></i><span
              style="font-weight: 400"> day of your website, as websites are constantly evolving. So we prefer to work
              with clients who are invested in long-term growth and quality relationships.</span></p>
        </div>
      </div>
      <div id="tabs-1-item-3" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-3"
        tabindex="0">
        <h3 data-count="3" data-tab="tab-item-3" class="accordion__heading tab__heading" role="tab" aria-expanded="false">We design, build & suppor websites</h3>
        <div class="accordion__description tab__content">
          <div class="tab__media">
            <img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2022/02/Screen-Shot-2021-10-01-at-4.53.01-PM-870x470.png" class="tab__image"/>
          </div>
          <h4 class="">We can support your site at any stage of its lifecycle. </h4>
          <p><span style="font-weight: 400">One of Kanopi’s superpowers is that we have mastered a holistic approach to
              websites. We don’t simply build a site for you and walk away after launch. </span></p>
          <p><span style="font-weight: 400">Our approach to building beautiful sites is about adaptive execution. We are nimble from the start, breaking down the process into small, manageable pieces in order to make
              incremental progress. It also means we can pivot quickly as priorities change, without wasting time or money.</span></p>
          <p><span style="font-weight: 400">We are also able to jump in at any phase. Need a new site from scratch? We can do that. Need just one portion of the process? We can do that too. Need support post-launch? We’ve got
              this. Basically, we understand that websites are organic and constantly evolving. So we empower you at any
              stage of your site’s lifecycle so you can grow your brand with confidence.</span></p>
        </div>
      </div>
      <div id="tabs-1-item-4" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-4" tabindex="0">
        <h3 data-count="4" data-tab="tab-item-4" class="accordion__heading tab__heading" role="tab" aria-expanded="false">Our support is unmatched</h3>
        <div class="accordion__description tab__content">
          <div class="tab__media">
            <img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2019/07/Kanopi-PalmSpringsRetreat-92-1-870x470.jpg" class="tab__image"/>
          </div>
          <h4 class="">You&#039;ll get the White Glove treatment.</h4>
          <p><span style="font-weight: 400">Many agencies offer support after launch, but nobody does it quite like Kanopi. While any agency will manage the standard bug fixing and security upgrades, we take it a lot
              further by offering </span><a href="https://kanopi.com/services/website-support/"><b>strategy and design as well as development</b></a><span style="font-weight: 400"> in support. </span></p>
          <p><span style="font-weight: 400">We also offer </span><a href="https://kanopi.com/website-growth-plans/"><b>Website Growth Plans</b></a><span
              style="font-weight: 400">, where we craft smaller projects for smaller budgets that create huge impacts
              for clients. This can be anything from a specific accessibility need, to the design of a specific landing
              page to create a conversion, or a specific feature that needs developing.</span></p>
          <p><span style="font-weight: 400">Another rarity? We also are great at touching other people’s code. It&#8217;s tough to find an agency that will take on a site built by someone else, but our expertise in
              doing so makes the process seamless.</span></p>
          <p><span style="font-weight: 400">In short: whether you’ve been with Kanopi for a while or you are new to us, we can jump into your site at any point in its lifecycle and make it work better for you. </span></p>
        </div>
      </div>
      <div id="tabs-1-item-5" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-5" tabindex="0">
        <h3 data-count="5" data-tab="tab-item-5" class="accordion__heading tab__heading" role="tab" aria-expanded="false">Accessibility is imperative </h3>
        <div class="accordion__description tab__content">
          <div class="tab__media">
            <img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2022/02/Screen-Shot-2022-02-08-at-3.57.36-PM-870x470.png" class="tab__image" alt="Zoom call of an accessibility presentation" /></div>
          <h4 class="">The internet should be accessible to all. Period. </h4>
          <p><span style="font-weight: 400">As part of our commitment to diversity and inclusion, we believe that sites
              should be accessible for all users. So we bake accessibility practices into every step of our process, from initial design through launch. </span></p>
          <p><span style="font-weight: 400">We are also experts on accessibility, with several team members with IAAP
              certifications. Our staff also give frequent presentations and </span><a href="https://kanopi.com/blog/?fwp_categories=accessibility"><b>write about accessibility and
                inclusion</b></a><span style="font-weight: 400">. </span></p>
          <p><span style="font-weight: 400">Every site we build or support is a minimum of AA WCAG compliant. So you can be sure that your site will meet the proper standards. We even have one client site that’s </span><a
              href="https://kanopi.com/case-study/ncbi/"><b>AAA compliant</b></a><span style="font-weight: 400">.
            </span></p>
        </div>
      </div>
      <div id="tabs-1-item-6" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-6"
        tabindex="0">
        <h3 data-count="6" data-tab="tab-item-6" class="accordion__heading tab__heading" role="tab" aria-expanded="false">Design matters</h3>
        <div class="accordion__description tab__content">
          <div class="tab__media"><img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2022/02/Screen-Shot-2022-02-07-at-4.42.04-PM-870x470.png"
                class="tab__image"/>
          </div>
          <h4 class="">Supporting humans on both sides of the screen.</h4>
          <p><span style="font-weight: 400">Design is critical to our practice. We are always looking for new ways to
              make a site visually engaging while also preserving a superior user experience and meeting business goals.
            </span></p>
          <p><span style="font-weight: 400">We never use templates and we don’t succumb to trends. Every project begins
              with strategy work so we can understand your users, their needs, and how to best align them with your
              goals. That’s the user experience part. </span></p>
          <p><span style="font-weight: 400">Then our designers </span><span style="font-weight: 400">create an artistic
              expression of your brand; they’ll visually fuse the initial strategy and user experience to the
              functionality </span><span style="font-weight: 400">that will be fulfilled during development. </span></p>
          <p><span style="font-weight: 400">We understand that data is critical, so all our designs are informed by
              data. But we never lose sight of what’s appealing to the humans who use it.</span> <span
              style="font-weight: 400">Our designs are purposeful as we bring your brand vision to life. </span></p>
        </div>
      </div>
      <div id="tabs-1-item-7" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-7"
        tabindex="0">
        <h3 data-count="7" data-tab="tab-item-7" class="accordion__heading tab__heading" role="tab" aria-expanded="false">We're values-driven</h3>
        <div class="accordion__description tab__content">
          <div class="tab__media">
            <img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2019/07/Kanopi-PalmSpringsRetreat-80-1-870x470.jpg" class="tab__image" alt="Denise still smiling" />
          </div>
          <h4 class="">Our seven values guide our work.</h4>
          <p>Our values guide us so we can work in harmony with each other and with you to create great outcomes.</p>
          <ul>
            <li>We value human connection. We are <strong>#BetterTogether</strong>.</li>
            <li>We value being <strong>#Nimble</strong> and helpful.</li>
            <li>We value <strong>#Clarity</strong>.</li>
            <li>We value that when something is complex, we <strong>#OwnIt</strong>.</li>
            <li>We value contributing <strong>#Trust</strong> daily.</li>
            <li>We value supporting our <strong>#Community</strong>.</li>
            <li>We value expressing <strong>#Gratitude</strong>.</li>
          </ul>
        </div>
      </div>
      <div id="tabs-1-item-8" class="accordion__item tab" role="tabpanel" aria-labelledby="tabs-1-nav-item-8"
        tabindex="0">
        <h3 data-count="8" data-tab="tab-item-8" class="accordion__heading tab__heading" role="tab" aria-expanded="false">We give back</h3>
        <div class="accordion__description tab__content">
          <div class="tab__media">
            <img width="870" height="470" src="https://kanopi.com/wp-content/uploads/2019/07/33718431298_78674fbc78_o_crop-870x470.jpg"
                class="tab__image">
          </div>
          <h4 class="">We donate time, knowledge, and money.</h4>
          <p>Because community is one of our values, we believe in giving back time (and money) to enrich and support
            our open-source community. We offer 4 hours per month on Kanopi for employees to contribute toward the
            Drupal and/or WordPress communities, or mentoring in another capacity during work hours. If employees contribute in their spare time, we have a program to reward that too.</p>
          <p>In addition to donating time, we are also a founding sponsor for <a href="https://www.drupal.org/association/discover-drupal">Discover Drupal</a>, the Drupal Association’s
            new initiative to unlock opportunities for people who have been underrepresented in the open-source community.</p>
          <p>Lastly, we give financially every year to <a href="http://www.code2040.org/">Code 2040</a>, in addition to other charitable organizations.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="component component--heading-text" aria-label="Our Team">
    <div class="block block--heading-text">
      <div class="block__left">
        <h2>Our Team</h2>
      </div>
    </div>
  </section>
</div>
<div class="Container" style="padding-left:20px; padding-right:20px; padding-bottom:300px;">
  <div class="row">
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Anne_1024-1-300x300.jpg" class="card-img-top"/>
        <div class="card-body">
          <div class="wrapper">
            <div class="button">
              <div class="icon"><span class="Read"><span>Meet Anne</span></span><i class="icon icon--plus sign"></i></div>
            </div>
          </div>
          <h5 class="card-text"><b>Anne Stefanyk</b></h5>
          <p class="card-text">CEO/Founder</p>
        </div>
    </div>
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Kat-1-767x767.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Katherine White</b></h5>
        <p class="card-text">Chief Technology Officer</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Jill2-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Jill Taiji</b></h5>
        <p class="card-text">Chief Financial Officer</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Denise-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Denise Beyer</b></h5>
        <p class="card-text">Director of Support</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Allison-v2-1-300x300.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Allison Manley</b></h5>
        <p class="card-text">Director of Marketing &amp; Communications</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Tim-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Tim Tufts</b></h5>
        <p class="card-text">Director of Project Success</p>
      </div>
    </div>
  </div>
</div>
<div class="Container" style="padding-left:20px; padding-right:20px; padding-bottom:300px ;">
  <div class="row">
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Kanopi-PalmSpringsRetreat-169-1-250x250.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Erin Linkins</b></h5>
        <p class="card-text">Director of Human Resources</p>
      </div>
    </div>
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2021/10/Cliff-Persaud_green-e1635190650229-250x250.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Cliff Persaud</b></h5>
        <p class="card-text">Manager of Creative Services</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Tanya-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Tanya Threlfall</b></h5>
        <p class="card-text">Sales Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2020/02/JenHill-250x250.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Jen Hill</b></h5>
        <p class="card-text">Delivery Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2017/04/Shane_square-300x300.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Shane Robinson</b></h5>
        <p class="card-text">WordPress Engineering Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Jim-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Jim Birch</b></h5>
        <p class="card-text">Drupal Engineering Manager</p>
      </div>
    </div>
  </div>
</div>
<div class="Container" style="padding-left:20px; padding-right:20px; padding-bottom:300px ;">
  <div class="row">
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Paul-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Paul Sheldrake</b></h5>
        <p class="card-text">Drupal Engineering Manager</p>
      </div>
    </div>
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Sean2-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Sean Dietrich</b></h5>
        <p class="card-text">Senior Operations Architect</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2020/09/joetuen-headshot-copy-250x250.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Joe Tuen</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2021/02/headshot-4-e1613865341399-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Rebecca Warner</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2021/05/Timothy-Snyder-e1620712892728-300x300.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Timothy Snyder</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2021/06/Nikane-Mallea_headshot-2-300x294.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Nikane Mallea</b></h5>
        <p class="card-text">Senior Project Managers</p>
      </div>
    </div>
  </div>
</div>
<div class="Container" style="padding-left:20px; padding-right:20px; padding-bottom:300px;">
  <div class="row">
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2021/07/Jordan-Robison.jpeg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Jordan Robison</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Natalie-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Natalie Semczuk</b></h5>
        <p class="card-text">Senior Operations Architect</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2022/04/Cam_Cecchini1-300x300.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Cam Cecchini</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2022/08/Jessie-Formalarie-300x300.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-text"><b>Jessie Formalarie</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2021/07/courtney-oreilly-headshot-300x300.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-text"><b>Courtney O&#8217;Reilly</b></h5>
        <p class="card-text">Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2021/09/AndrewWilliamsonHeadshot-copy-300x300.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-text"><b>Andrew Williamson</b></h5>
        <p class="card-text">Project Manager</p>
      </div>
    </div>
  </div>
</div>
<div class="Container" style="padding-left:20px; padding-right:20px; padding-bottom:300px;">
  <div class="row">
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2022/01/ashley-schroeder-headshot-300x300.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Ashley Schroeder</b></h5>
        <p class="card-text">Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2022/09/Peggy-Tam-e1663108239645-250x250.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-text"><b>Peggy Tam</b></h5>
          <p class="card-text">Project Manager & QA</p>
        </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2022/04/Dennis-Powers1-scaled-e1649743654719-250x250.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Dennis Powers</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2020/07/Natalie_Yelton-500x500.jpeg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-text"><b>Natalie Yelton</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2022/05/Jarrel-Sylvers-300x300.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-text"><b>Jarrel Sylvers</b></h5>
        <p class="card-text">Copywriter</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2022/06/Vivian-Sabbado-Clark-300x300.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-text"><b>Vivian Clark</b></h5>
        <p class="card-text">Senior Project Managers</p>
      </div>
    </div>
  </div>
</div>
<div class="Container" style="padding-left:20px; padding-right:20px; padding-bottom:300px; ">
  <div class="row">
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2018/12/MarcBeyer-1-300x300.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-text"><b>Marc David</b></h5>
        <p class="card-text">Support Admin & QA Engineer</p>
      </div>
    </div>
    <div class="card col-lg-2 ">
      <img src="https://kanopi.com/wp-content/uploads/2019/06/Vicki-1-300x300.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-text"><b>Vicki Drever</b></h5>
        <p class="card-text">HR Coordinator</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2021/09/Kristine-Strange-250x250.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-text"><b>Kristine Strange</b></h5>
        <p class="card-text">Sales Coordinator</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2017/04/A40W3413-straight-250x250.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-text"><b>Rebecca Warner</b></h5>
        <p class="card-text">Senior Project Manager</p>
      </div>
    </div>
    <div class="card col-lg-2">
      <img src="https://kanopi.com/wp-content/uploads/2021/05/Angela-LaFevers-scaled-e1623739171255-300x300.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-text"><b>Darlyne Dolap</b></h5>
        <p class="card-text">Accounting Admin</p>
      </div>
    </div>
  </div>
</div>