.aboutpage{
    margin-left: 100px;
    margin-top: 30px;
}
.about_h3{
    font-family: sans-serif;
    letter-spacing: 1.4px;
    font-size: 14px;
}
.about_h1{
    font-family: serif;
    font-size: 60px;
}
.block_left{
    font-family: Arial;
    font-size: 60px;

}
.content1{
    font-family: sans-serif;
    width: 900px;
    line-height: 1.6; 
    letter-spacing: 1.3px;
}
.card{
    height: 10px;
    border:none;
   
}
.container{
    margin:80px;
    border:100%;
    
}
.icon--plus {
    display: inline-block;
    width: 23px;
    height: 23px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card_img{
    margin-top: 5px;
    margin-left:1px;
    margin-right:1px;
    height:1px;
    width: 2px;
    border-top-left-radius: 80px;
}
.card-text{
    font-family: Montserrat;
}
.cards-body{
    height: 100px;
    width: 200px;
    padding-left: 50px;

}