<br>
<br>
<br>
<br>
<br>
<br>
<div class="aboutpage">
  <h5 style="margin-left:20px;font-family: Playfair Display;font-weight:bold;">About Us <img style="height:50px"
      src="https://i.pinimg.com/originals/5c/ff/80/5cff802d48d74607ac929ec2751684e9.jpg"></h5>
  <div>
    <h1 class="about_h1"><strong>Kanopi emerged from a love</strong> <br>
      of treehouses.</h1>
    <p class="content1">
      Treehouses are amazing structures in the sky. Incredible works of craftsmanship and creativity that exist in
      a larger context of their surroundings. Kanopi vowed to build a web agency upon that same foundation:
      pairing creative solutions with sustainable and strong architecture, while keeping the client’s entire
      ecosystem in mind.<b> Read more about the history of Kanopi and the origin of our name.</b>
    </p>
  </div>

</div>
<div class="modal fade .facets--takeover .facets" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div  class="modal-content">
        <br>
        <button class="btn btn_close" data-bs-dismiss="modal" ><i class="fa-solid fa-circle-xmark fa-4x "></i></button> 
        <br>
        <br>
      <div class="modal-body">
        <table class="table table-borderless">
          <thead>
          </thead>
          <tbody>
            <tr >
              <td style="float: left;">
                  <ul type="none">
                  <li class="li_fl">Services</li><br>
                  <li><button class="btn btn_h1">Content Strategy</button></li>
                  <li><button class="btn btn_h1">Research & Discovery</button></li>  
                  <li><button class="btn btn_h1">Staff Augmentation</button> </li>
                  <li><button class="btn btn_h1">User Experience</button></li>  
                  <li><button class="btn btn_h1">Website Design</button></li>  
                  <li><button class="btn btn_h1">Website Development</button></li>  
                  <li><button class="btn btn_h1">Website Support</button></li>  
                  </ul>
              </td>
              <td  style="float: left;">
                <ul type="none">
                <li class="li_fl">Platform / Technology</li><br>
                <li><button class="btn btn_h1">Drupal</button></li>
                <li><button class="btn btn_h1">Mukurtu</button></li>  
                <li><button class="btn btn_h1">WordPress</button></li> 
                </ul>
              </td >
              <td style="float: left;" >
                <ul type="none">
                <li class="li_fl">Industry</li><br>
                <li><button class="btn btn_h1">Arts & Culture</button></li>
                <li><button class="btn btn_h1">Corporate</button></li>  
                <li><button class="btn btn_h1">Education</button></li> 
                <li><button class="btn btn_h1">Government</button></li>  
                <li><button class="btn btn_h1">Healthcare</button></li>  
                <li><button class="btn btn_h1">Nonprofit</button></li> 
                </ul>
              </td>
              <td>
                <div style="float:left"> <button type="button" class="btn btn-lg btn_h"data-bs-dismiss="modal"  style="float: right;">Apply Filter</button></div>
              </td>    
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<body>

<br>
<div style="float: right;">
  <div class="container-fluid" style="text-align: center;">
    <button id="reg" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal1">
      <h2 id="facet-toggle" class="facets-toggle facets-header__toggle" tabindex="0" >
        <span class="facets-toggle__text" >Choose Category <i class="fa-solid fa-bars"> </i></span>
      </h2>
    </button>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<section class="component component--heading-text" aria-label="Our Team">
  <div class="block block--heading-text">
    <div class="block_left">
      <p><strong>Our Team</strong></p>
    </div>
  </div>
  <div class="Container">
    <div class="row">
      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Anne_1024-1-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Anne</span>
                </div>
              </div>
            </a>
          </div>


        <div class="card-body">


          <h5 class="card-text"><b>Anne Stefanyk</b></h5>
          <p class="card-text">CEO/Founder</p>

        </div>
   






      </div>


      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Kat-1-767x767.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Katherine White</b></h5>
          <p class="card-text">Chief Technology Officer</p>

        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Jill2-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Jill</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
       
          <h5 class="card-text"><b>Jill Taiji</b></h5>
          <p class="card-text">Chief Financial Officer</p>
          <div class="button">
            
          </div>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Denise-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Denise</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">

          <h5 class="card-text"><b>Denise Beyer</b></h5>
          <p class="card-text">Director of Support</p>

        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Allison-v2-1-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Allison</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Allison Manley</b></h5>
          <p class="card-text">Director of Marketing &amp; Communications</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Tim-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Tim</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Tim Tufts</b></h5>
          <p class="card-text">Director of Project Success</p>
        </div>

      </div>
    </div>
  </div>
  <br><br><br><br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <div class="Container">
    <div class="row">
      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Kanopi-PalmSpringsRetreat-169-1-250x250.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Erin</span>
                </div>
              </div>
            </a>
          </div>

        <div class="card-body">
          <h5 class="card-text"><b>Erin Linkins</b></h5>
          <p class="card-text">Director of Human Resources</p>
        </div>


      </div>


      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2021/10/Cliff-Persaud_green-e1635190650229-250x250.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Cliff</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Cliff Persaud</b></h5>
          <p class="card-text">Manager of Creative Services</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Tanya-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Tanya Threlfall</b></h5>
          <p class="card-text">Sales Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2020/02/JenHill-250x250.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Jen Hill</b></h5>
          <p class="card-text">Delivery Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2017/04/Shane_square-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Shane Robinson</b></h5>
          <p class="card-text">WordPress Engineering Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Jim-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Jim Birch</b></h5>
          <p class="card-text">Drupal Engineering Manager</p>
        </div>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <div class="Container">
    <div class="row">
      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Paul-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Paul Sheldrake</b></h5>
          <p class="card-text">Drupal Engineering Manager</p>
        </div>


      </div>


      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Sean2-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Sean Dietrich</b></h5>
          <p class="card-text">Senior Operations Architect</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2020/09/joetuen-headshot-copy-250x250.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Joe Tuen</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2021/02/headshot-4-e1613865341399-300x300.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Rebecca Warner</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2021/05/Timothy-Snyder-e1620712892728-300x300.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Timothy Snyder</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2021/06/Nikane-Mallea_headshot-2-300x294.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Nikane Mallea</b></h5>
          <p class="card-text">Senior Project Managers</p>
        </div>

      </div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="Container">
    <div class="row">
      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2021/07/Jordan-Robison.jpeg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Jordan Robison</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>


      </div>


      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Natalie-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Meet Katherine</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-text"><b>Natalie Semczuk</b></h5>
          <p class="card-text">Senior Operations Architect</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2022/04/Cam_Cecchini1-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Cam Cecchini</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2022/08/Jessie-Formalarie-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Jessie Formalarie</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2021/07/courtney-oreilly-headshot-300x300.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Courtney O&#8217;Reilly</b></h5>
          <p class="card-text">Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2021/09/AndrewWilliamsonHeadshot-copy-300x300.jpeg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Andrew Williamson</b></h5>
          <p class="card-text">Project Manager</p>
        </div>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="Container">
    <div class="row">
      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2022/01/ashley-schroeder-headshot-300x300.jpeg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Ashley Schroeder</b></h5>
          <p class="card-text">Project Manager</p>
        </div>


      </div>


      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2022/09/Peggy-Tam-e1663108239645-250x250.jpeg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Peggy Tam</b></h5>
          <p class="card-text">Project Manager &amp; QA</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2022/04/Dennis-Powers1-scaled-e1649743654719-250x250.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Dennis Powers</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2020/07/Natalie_Yelton-500x500.jpeg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Natalie Yelton</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2022/05/Jarrel-Sylvers-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Jarrel Sylvers</b></h5>
          <p class="card-text">Copywriter</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2022/06/Vivian-Sabbado-Clark-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Vivian Clark</b></h5>
          <p class="card-text">Senior Project Managers</p>
        </div>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="Container">
    <div class="row">
      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2018/12/MarcBeyer-1-300x300.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Marc David</b></h5>
          <p class="card-text">Support Admin &amp; QA Engineer</p>
        </div>


      </div>


      <div class="card col-lg-2 ">

        <img src="https://kanopi.com/wp-content/uploads/2019/06/Vicki-1-300x300.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
          <h5 class="card-text"><b>Vicki Drever</b></h5>
          <p class="card-text">HR Coordinator</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2021/09/Kristine-Strange-250x250.png" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Kristine Strange</b></h5>
          <p class="card-text">Sales Coordinator</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2017/04/A40W3413-straight-250x250.jpg" class="card-img-top"
          alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Rebecca Warner</b></h5>
          <p class="card-text">Senior Project Manager</p>
        </div>

      </div>
      <div class="card col-lg-2">

        <img src="https://kanopi.com/wp-content/uploads/2021/05/Angela-LaFevers-scaled-e1623739171255-300x300.jpg"
          class="card-img-top" alt="..." />
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Meet Katherine</span>
                </div>
              </div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-text"><b>Darlyne Dolap</b></h5>
          <p class="card-text">Accounting Admin</p>
        </div>

      </div>
      <div class="card col-lg-2">

      <div class="container">
        <div class="container_text">
          <h3>Join our<br> team</h3>
        </div>
        <div class="container_button">
          <a class="btn btn--green con_button" href="https://kanopi.com/careers/">Find A Job</a>

        </div>
      </div>
      </div>


    </div>
  </div>
</section>
<br><br>
