
img{
height: 140px;
width: 200px;
}
a{
    color: #153e35;
    letter-spacing: .9px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.63;
    text-decoration: none;
    background-color: transparent;
    font-family: Montserrat,sans-serif;  
}

.component__heading{margin-top:0}
.component__heading{font-size:calc(2.2058823529vw + 17.4117647059px);
    margin-bottom:30px;
    text-align: center;
}
.column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .contact:hover{
    cursor: pointer;
    background-color:#dc2b0c;
   color :white;
}
.contact:hover::after{
    color: white;
}
.sectionpart{
    background-color: #153e35;
    height: 400px;
    color: azure;
}

p {
   
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
}
.box{
    border-style: solid;
    border-radius: rgb(45, 43, 43);
    margin-left: 600px;
    
}
.chat{
    padding: 20px 20px 20px 20px;
    border:solid;
    margin-left:40px;
    letter-spacing: 2px;
    width: 250px;
    background-color: #153e35;
    color: white;
}
.chat:hover{
    cursor: pointer;
    background-color:#dc2b0c;
   color :white;
   border: none;
}
section{
    background-color: rgb(239, 239, 239);
    height: 400px;
}
.inline .button{
display: inline-block;
}

.sectiondiv{
margin-left: 100px;
margin-top: 50px;

}
li{
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.sign{
    padding: 20px 20px 20px 20px;
    border:solid;
    letter-spacing: 2px;
    width: 200px;
    
    
}
.sign:hover{
    cursor: pointer;
    background-color:#dc2b0c;
   color :white;
   border: none;
}
.checked {
    color: orange;
  }

  .disp{
    margin-left: 2000px;
    background-color:  #153e35;
    margin-top: 150px;
    color:#153e35 ;
    margin-right: 300px;
}

.modal-content {
 
    background-color: #153e35;
 
    padding:16px 16px;
 
    color:#FFF; 
 
 }
 .modal-dialog {
 
    width: 1000px;
margin-left: 500px;
    height:600px ;
    margin-left: 450px;
    height:600px !important;

  }
  .btn-close{
    margin-left: 73%;
    background-color:  rgb(244, 51, 17);
    font-weight: bold;
}
h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 3.5px;
    line-height: 1.31;
}
label{
    column-gap: 30%;
}
.border-style{
    background-color:#153e35 ;
    border-top: none;
    border-left: none;
    border-right: none;
}
