<div class="modal fade .facets--takeover .facets" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div  class="modal-content">
        <br>
        <button class="btn btn_close" data-bs-dismiss="modal" ><i class="fa-solid fa-circle-xmark fa-4x "></i></button> 
        <br>
        <br>
      <div class="modal-body">
        <table class="table table-borderless">
          <thead>
          </thead>
          <tbody>
            <tr >
              <td style="float: left;">
                  <ul type="none">
                  <li class="li_fl">Services</li><br>
                  <li><button class="btn btn_h1">Content Strategy</button></li>
                  <li><button class="btn btn_h1">Research & Discovery</button></li>  
                  <li><button class="btn btn_h1">Staff Augmentation</button> </li>
                  <li><button class="btn btn_h1">User Experience</button></li>  
                  <li><button class="btn btn_h1">Website Design</button></li>  
                  <li><button class="btn btn_h1">Website Development</button></li>  
                  <li><button class="btn btn_h1">Website Support</button></li>  
                  </ul>
              </td>
              <td  style="float: left;">
                <ul type="none">
                <li class="li_fl">Platform / Technology</li><br>
                <li><button class="btn btn_h1">Drupal</button></li>
                <li><button class="btn btn_h1">Mukurtu</button></li>  
                <li><button class="btn btn_h1">WordPress</button></li> 
                </ul>
              </td >
              <td style="float: left;" >
                <ul type="none">
                <li class="li_fl">Industry</li><br>
                <li><button class="btn btn_h1">Arts & Culture</button></li>
                <li><button class="btn btn_h1">Corporate</button></li>  
                <li><button class="btn btn_h1">Education</button></li> 
                <li><button class="btn btn_h1">Government</button></li>  
                <li><button class="btn btn_h1">Healthcare</button></li>  
                <li><button class="btn btn_h1">Nonprofit</button></li> 
                </ul>
              </td>
              <td>
                <!-- <div style="float:left"> <button type="button" class="btn btn-lg btn_h"data-bs-dismiss="modal"  style="float: right;">Apply Filter</button></div> -->
              </td>    
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<body>
<h6 style="margin-left:20px;font-family: Playfair Display;font-weight:bold;">Work <img style="height:50px" src="https://i.pinimg.com/originals/5c/ff/80/5cff802d48d74607ac929ec2751684e9.jpg"></h6>  
<h1 style="font-size: 70px; font-weight:bold; font-style:calc(.9191176471vw + 5.5882352941px); font-family: Playfair Display; float: left;margin-left:20px;">Better. Faster. Together.</h1>
<br>
<div style="float: right;">
  <div class="container-fluid" style="text-align: center;">
    <button id="reg" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal1">
      <h2 id="facet-toggle" class="facets-toggle facets-header__toggle" tabindex="0" >
        <span class="facets-toggle__text" >Choose Category <i class="fa-solid fa-bars"> </i></span>
      </h2>
    </button>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

<!-- 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 -->
<div class="card-group">
<div class="card padding-0" >
  <div class="card  card-image-header  " style="width:100%" >
    <div class="image" >
      <a href="https://kanopi.com/case-study/first-tee/">
      <img src="https://kanopi.com/wp-content/uploads/2022/09/Featured-Image-sidebar-914x609.png" class="img-fluid"/>
        <div class="image_overlay">
          <div class="image_title"><img width="150" height="50" src="https://kanopi.com/wp-content/uploads/2022/09/FirstTee_LogoWhite.png"></div><br>
          <span class="meta__term">WordPress | Nonprofit</span>
          <i class="icon icon--plus icon_clr"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="card-body">
    <h5 id="Content1" class="card-title">First Tee</h5>
  </div> 
  
  <div class="card card-footer">
    <a href="https://kanopi.com/case-study/first-tee/">
      <div class="wrapper">
        <div class="button" >
          <div class="icon"><i class="fab fa-plus"></i></div>
          <span style="text-align: right;">Read First tee case study</span>
        </div>
      </div>
    </a>
  </div>
 
</div>
<!-- ----------------------------perfect------------------------------------ -->
<div class="card">
  <div class="card card-image-header">
    <div class="image">
      <a href="https://kanopi.com/case-study/alameda-county-community-food-bank-accfb/">
      <img src="https://kanopi.com/wp-content/uploads/2022/09/Featured-Image-sidebar-1-914x609.png" class="img-fluid"/>
        <div class="image_overlay">
          <div class="image_title"><img width="150" height="150" src="https://kanopi.com/wp-content/uploads/2022/09/accfb-logo.png"></div>
          <span class="meta__term">WordPress | Nonprofit</span>
          <i class="icon icon--plus icon_clr"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="card-body">
    <h5 id="Content1" class="card-title">Alameda County Community Food Bank(ACCFB)</h5>
  </div>

  <div class="card card-footer">
    <a href="https://kanopi.com/case-study/alameda-county-community-food-bank-accfb/">
      <div class="wrapper">
        <div class="button" >
          <div class="icon"><i class="fab fa-plus"></i></div>
          <span style="text-align: right;">Read ACCFB case study</span>
        </div>
      </div>
    </a>
  </div> 
</div>
</div>

<!-- 22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 -->
<div class="card-group">
  <div class="card">
    <div class="card card-image-header">
      <div class="image">
        <a href="https://kanopi.com/case-study/ncbi/">
        <img src="https://kanopi.com/wp-content/uploads/2020/05/NCBI-Hero-600x400.jpg" class="img-fluid"/>
          <div class="image_overlay">
            <div class="image_title"><img width="150" height="50" src="https://kanopi.com/wp-content/uploads/2020/05/NCBI.png"></div><br>
            <span class="meta__term">Drupal | Nonprofit</span>
            <i class="icon icon--plus icon_clr"></i>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-body">
      <h5 id="Content1" class="card-title">The National Council for the Blind in Ireland (NCBI)</h5>
    </div>

    <div class="card card-footer">
      <a href="https://kanopi.com/case-study/ncbi/">
        <div class="wrapper">
          <div class="button" >
            <div class="icon"><i class="fab fa-plus"></i></div>
            <span style="text-align: right;">Read NCBI case study</span>
          </div>
        </div>
      </a>
    </div> 
  </div>
  <!-- ----------------------------perfect------------------------------------ -->
  <div class="card">
    <div class="card card-image-header">
      <div class="image">
        <a href="https://kanopi.com/case-study/covenant-house/">
        <img src="https://kanopi.com/wp-content/uploads/2020/08/Featured-Image-sidebar-914x609.png" class="img-fluid"/>
          <div class="image_overlay">
            <div class="image_title"><img width="150" height="150" src="https://kanopi.com/wp-content/uploads/2020/08/Covenant-House-Logo-Image.png"></div><br>
            <span class="meta__term">Drupal | Nonprofit</span>
            <i class="icon icon--plus icon_clr"></i>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-body">
      <h5 id="Content1" class="card-title">Covenant House</h5>
    </div>

    <div class="card card-footer">
      <a href="https://kanopi.com/case-study/covenant-house/">
        <div class="wrapper">
          <div class="button" >
            <div class="icon"><i class="fab fa-plus"></i></div>
            <span style="text-align: right;">Read Covenant case study</span>
          </div>
        </div>
      </a>
    </div> 
  </div>
  </div>
<!-- 333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333 -->
<div class="card-group">
  <div class="card">
    <div class="card card-image-header">
      <div class="image">
        <a href="https://kanopi.com/case-study/global-brain-health-institute/">
        <img src="https://kanopi.com/wp-content/uploads/2021/01/Featured-Image-sidebar-914x609.png" class="img-fluid"/>
          <div class="image_overlay">
            
            <span class="meta__term">Drupal | Healthcare</span>
            <i class="icon icon--plus icon_clr"></i>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-body">
      <h5 id="Content1" class="card-title">Global Brain Health Institute</h5>
    </div>
    <div class="card card-footer">
      <a href="https://kanopi.com/case-study/global-brain-health-institute/">
        <div class="wrapper">
          <div class="button" >
            <div class="icon"><i class="fab fa-plus"></i></div>
            <span style="text-align: right;">Read GBHI case study</span>
          </div>
        </div>
      </a>
    </div> 
  </div>
  <!-- ----------------------------perfect------------------------------------ -->
  <div class="card">
    <div class="card card-image-header">
      <div class="image">
        <a href="https://kanopi.com/case-study/sunnylands/">
        <img src="https://kanopi.com/wp-content/uploads/2021/02/Featured-Image-sidebar-1-914x609.png" class="img-fluid"/>
          <div class="image_overlay">
            
            <span class="meta__term">WordPress | Nonprofit</span>
            <i class="icon icon--plus icon_clr"></i>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-body">
      <h5 id="Content1" class="card-title">Sunnylands</h5>
    </div>
    <div class="card card-footer">
      <a href="https://kanopi.com/case-study/sunnylands/">
        <div class="wrapper">
          <div class="button" >
            <div class="icon"><i class="fab fa-plus"></i></div>
            <span style="text-align: right;">Read Sunnylands case study</span>
          </div>
        </div>
      </a>
    </div> 
  </div>
  </div>
<!-- 44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 -->
<div class="card-group">
  <div class="card">
    <div class="card card-image-header">
      <div class="image">
        <a href="https://kanopi.com/case-study/physicians-for-human-rights/">
        <img src="https://kanopi.com/wp-content/uploads/2020/08/Featured-Image-sidebar-7-914x609.png" class="img-fluid"/>
          <div class="image_overlay">
            <div class="image_title"><img width="150" height="70" src="https://kanopi.com/wp-content/uploads/2019/08/PHR-Logo-white.png"></div><br>
            <span class="meta__term">WordPress | Nonprofit</span>
            <i class="icon icon--plus icon_clr"></i>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-body">
      <h5 id="Content1" class="card-title">Physicians for Human Rights</h5>
    </div>
    <div class="card card-footer">
      <a href="https://kanopi.com/case-study/physicians-for-human-rights/">
        <div class="wrapper">
          <div class="button" >
            <div class="icon"><i class="fab fa-plus"></i></div>
            <span style="text-align: right;">Read PHR case study</span>
          </div>
        </div>
      </a>
    </div> 
  </div>
  <!-- ----------------------------perfect------------------------------------ -->
  <div class="card">
    <div class="card card-image-header">
      <div class="image">
        <a href="https://kanopi.com/case-study/golden-gate-national-parks-conservancy-case-study-institute-of-golden-gate/">
        <img src="https://kanopi.com/wp-content/uploads/2020/06/faetured-image-3-600x400.jpg" class="img-fluid"/>
          <div class="image_overlay">
            <div class="image_title"><img width="150" height="150" src="https://kanopi.com/wp-content/uploads/2019/08/logo-2.png"></div><br>
            <span class="meta__term">Drupal | Nonprofit</span>
            <i class="icon icon--plus icon_clr"></i>
          </div>