<div class="backg" style="margin-top: 100px;">
    <div class="centered" style="text-align: center;"><h4 style="color: white;">Subscription Confirmed</h4><br>
       <h1 style="color: white; filter: brightness(100%);"> Thank you for subscribing to our<br> newsletter!</h1></div>
</div>
<div class="backg2">
    <div class="row" >
        <div class="col col-4">
<img src="/assets/images/subscript2.jpg" ></div>
<div class="col col-3"></div>
<div class="col col-5" >
<h5 style="font-family:'Times New Roman', Times, serif;margin-top: 50px;"><b>We're Happy You're Here----</b></h5>
    <h1 style="margin-top:50px; font-family:Playfair Display,serif;text-shadow: 2px 2px 2px ;letter-spacing: 1.2px;"><b>Welcome to Kanopi!</b></h1>
    <p style="margin-top: 50px; font-size:larger;letter-spacing:0.75px">We’re so glad you want to stay in touch! We promise only to<br> share interesting and informative content, 
        with the <br>occasional bit of fun on the side. Our bosses are Canadian, so<br> we like to keep things cool. 
        No pun intended, eh?</p>
    
    <p style="margin-top: 50px; margin-bottom:50px;font-size: larger;">Here are some other cool things to check out on our site:</p>
    <p style="font-size: larger;">
    <b>- Our team:</b> someone used to be a belly dancer! Another was a<br>DJ at Obama’s Inaugural Ball. And yet another enjoys midnight<br> movies.
    <br><br><b>- Case studies:</b> we create some nice, efficient, strategic stuff. <br>We’d love for you to take a look.
    <br><br><b>- Things we’ve written or said:</b> we like to share things we’ve<br> learned through blog posts and presentations. There’s some<br> solid collective knowledge here.
    Thanks again, and see you soon!</p>
</div>
</div>
</div>
