
  <div class="modal_read">
  <div class="modal fade .facets--takeover .facets" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <br>
      <button class="btn btn_close" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark fa-4x "></i></button>
      <br>
      <br>
      <div class="modal-body">
        <table class="table table-borderless">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td style="float: left;">
                <ul type="none">
                  <li class="li_fl">Services</li><br>
                  <li><button class="btn btn_h1">Content Strategy</button></li>
                  <li><button class="btn btn_h1">Research & Discovery</button></li>
                  <li><button class="btn btn_h1">Staff Augmentation</button> </li>
                  <li><button class="btn btn_h1">User Experience</button></li>
                  <li><button class="btn btn_h1">Website Design</button></li>
                  <li><button class="btn btn_h1">Website Development</button></li>
                  <li><button class="btn btn_h1">Website Support</button></li>
                </ul>
              </td>
              <td style="float: left;">
                <ul type="none">
                  <li class="li_fl">Platform / Technology</li><br>
                  <li><button class="btn btn_h1">Drupal</button></li>
                  <li><button class="btn btn_h1">Mukurtu</button></li>
                  <li><button class="btn btn_h1">WordPress</button></li>
                </ul>
              </td>
              <td style="float: left;">
                <ul type="none">
                  <li class="li_fl">Industry</li><br>
                  <li><button class="btn btn_h1">Arts & Culture</button></li>
                  <li><button class="btn btn_h1">Corporate</button></li>
                  <li><button class="btn btn_h1">Education</button></li>
                  <li><button class="btn btn_h1">Government</button></li>
                  <li><button class="btn btn_h1">Healthcare</button></li>
                  <li><button class="btn btn_h1">Nonprofit</button></li>
                </ul>
              </td>
              <td>
                <div style="float:left"> <button type="button" class="btn btn-lg btn_h" data-bs-dismiss="modal"
                    style="float: right;">Apply Filter</button></div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div style="float: right;">
  <div class="container-fluid" style="text-align: center;">
    <button id="reg" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal1">
      <h2 id="facet-toggle" class="facets-toggle facets-header__toggle" tabindex="0">
        <span class="facets-toggle__text">Choose Category <i class="fa-solid fa-bars"> </i></span>
      </h2>
    </button>
  </div>
</div>

<!--------------------------------------------------head-------------------------------------------------------------->

<header class="facets-header">

  <h3 class="overline overline--dashed facets-header__overline">Blog ___</h3>

  <div class="heading">We love to share with
    <br>
    others.
  </div>

</header>
<!---------------------------------------------------article------------------------------------------------------------------------>
<div class="box-wrap">
  <div class="box-1">
    <div class="overline">
      User Experience ____</div>
    <h2 class="component__heading">#GivingTuesday: Expert Tips for Successful Communication</h2>
    <div class="component__description">
      GivingTuesday 2021 broke records by raising $2.7 billion, and researchers are predicting that this year’s
      GivingTuesday will bring in even more for nonprofits and charitable causes. Of course, organizations shouldn’t
      just rest on their laurels and assume these funds will automatically come to them. Rather, to prepare for
      GivingTuesday, nonprofits need to plan their community [&hellip;]
    </div>
    <div class="box-ab">
      <div class="box-a">
        <img class=imgam src="https://kanopi.com/wp-content/uploads/2019/06/Allison-v2-1-300x300.jpg">
      </div>
      <div class="box-b">
        <p class="author-card__name">Allison Manley</p>
        <p class="author-card__position">Director of Marketing &amp; Communications</p>
      </div>
    </div>

    <a class="btn btn--black component__cta"
      href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">Read Article</a>

  </div>
  <br>
  <br>

  <div class="box-2">
    <img class=image width="680" height="650" border-radius="50px" border-radius="20px"
      src="https://kanopi.com/wp-content/uploads/2020/08/AdobeStock_112344183-720x832.jpeg">
  </div>
</div>
<br>
<br>
</div>

<!------------------------------------------------cards--------------------------------------------------------------->
<div class="boxcard">
  <div class="boxcardcol-1">
    <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
      <div class="card1">
        <img src="https://kanopi.com/wp-content/uploads/2020/08/AdobeStock_112344183-425x275.jpeg" class="card-img-top"
          alt="...">
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Read Article</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <div class="overline">
            User Experience ____</div>
          <h2 class="card-title">#GivingTuesday: Expert Tips for Successful Communication</h2>
          <div class="cardbox">
            <div class="cardimg">
              <img class=alison src="https://kanopi.com/wp-content/uploads/2019/06/Allison-v2-1-120x120.jpg">
            </div>
            <div class="cardtext">
              <p class="card__name">Allison Manley</p>
              <p class="card__position">Director of Marketing &amp; Communications</p>
            </div>
          </div>
        </div>
      </div>
    </a>
      <br>
    <a href="https://kanopi.com/blog/7-statistics-to-guide-your-next-website-refresh-or-upgrade/">
      <div class="card1">
        <img class="cardimg1"
          src="https://kanopi.com/wp-content/uploads/2019/08/Kanopi-PalmSpringsRetreat-115-425x275.jpg"
          class="card-img-top" alt="...">
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Read Article</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <div class="overline">
            User Experience ____</div>
          <h2 class="card-title">7 Statistics to Guide Your Next Website Refresh or Upgrade</h2>
          <div class="cardbox">
            <div class="cardimg">
              <img class=alison src="https://kanopi.com/wp-content/uploads/2019/06/Anne_1024-1-120x120.jpg">
            </div>
            <div class="cardtext">
              <p class="card__name">Anne Stefanyk</p>
              <p class="card__position">CEO/Founder</p>
            </div>
          </div>
        </div>
      </div>
    </a>
      <br>
    <a href="https://kanopi.com/blog/7-statistics-to-guide-your-next-website-refresh-or-upgrade/">
      <div class="card1">
        <img class="cardimg1"
          src="https://kanopi.com/wp-content/uploads/2022/05/sigmund-HE1zW44Zm_Y-unsplash-dark-425x275.jpg"
          class="card-img-top" alt="...">
        <div class="middle">
          <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
            <div class="wrappers">
              <div class="button">
                <div class="icon"><i class="fab fa-plus"></i></div>
                <span style="text-align: right;">Read Article</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <div class="overline">
            Accessibility ____</div>
          <h2 class="card-title">Accessibility overlays: Buyer beware</h2>
          <div class="cardbox">
            <div class="cardimg">
              <img class=alison src="https://kanopi.com/wp-content/uploads/2018/11/image_from_ios-1-500x500.jpg">
            </div>
            <div class="cardtext">
              <p class="card__name">Faye Polson</p>
              <p class="card__position">Wordpress Engineer</p>
            </div>
          </div>
        </div>
      </div><br>
    </a>
    <a href="https://kanopi.com/blog/accessibility-overlays-buyer-beware/">
      <div class="boxcardload" [hidden]="loadcard">
        <div class="boxcardcol-1">
          <div class="carda" *ngFor="let loada of cardsa">
            <img src="{{loada.bimage}}" class="card-img-top" alt="...">
            <div class="middle">
              <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
                <div class="wrappers">
                  <div class="button">
                    <div class="icon"><i class="fab fa-plus"></i></div>
                    <span style="text-align: right;">Read Article</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <div class="overline">
                {{loada.boverline}}</div>
              <h2 class="card-title">{{loada.bhead}}</h2>
              <div class="cardbox">
                <div class="cardimg">
                  <img class=alison src="{{loada.bauthimg}}">
                </div>
                <div class="cardtext">
                  <p class="card__name">{{loada.bauthname}}</p>
                  <p class="card__position">{{loada.bauthpos}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </a>
  </div>
  <div class="boxcardcol-2">
    <a href="https://kanopi.com/blog/inclusive-language/">
    <div class="card2">
      <img src="https://kanopi.com/wp-content/uploads/2019/08/Kanopi-PalmSpringsRetreat-115-425x275.jpg"
        class="card-img-top" alt="...">
      <div class="middle">
        <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
          <div class="wrappers">
            <div class="button">
              <div class="icon"><i class="fab fa-plus"></i></div>
              <span style="text-align: right;">Read Article</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-body">
        <div class="overline">
          Accessibility ____ </div>
        <h2 class="card-title">Inclusive Language</h2>

        <div class="cardbox">
          <div class="cardimg">
            <img class=alison src="https://kanopi.com/wp-content/uploads/2019/02/Linkins_headshot-150x150.jpg">
          </div>
          <div class="cardtext">
            <p class="card__name">Erin Linkins</p>
            <p class="card__position">Director of Human Resources</p>
          </div>
        </div>
      </div>
    </div>
  </a>
    <br>
  <a href="https://kanopi.com/blog/our-top-5-web-design-tools/">
    <div class="card2">
      <img src="https://kanopi.com/wp-content/uploads/2022/07/cover-1a-425x275.jpg" class="card-img-top" alt="...">
      <div class="middle">
        <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
          <div class="wrappers">
            <div class="button">
              <div class="icon"><i class="fab fa-plus"></i></div>
              <span style="text-align: right;">Read Article</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-body">
        <div class="overline">
          Accessibility ___ </div>
        <h2 class="card-title">Our Top 5 Web Design Tools</h2>

        <div class="cardbox">
          <div class="cardimg">
            <img class=alison src="https://kanopi.com/wp-content/uploads/2021/10/Paul-Circle-80x80.jpeg">
          </div>
          <div class="cardtext">
            <p class="card__name">Paul Circle</p>
            <p class="card__position">Visual Designer</p>
          </div>
        </div>
      </div>
    </div>
  </a>
    <br>
  <a href="https://kanopi.com/blog/user-stories-what-they-are-and-why-they-matter/">
    <div class="card2">
      <img src="https://kanopi.com/wp-content/uploads/2019/08/Kanopi-PalmSpringsRetreat-23-425x275.jpg"
        class="card-img-top" alt="...">
      <div class="middle">
        <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
          <div class="wrappers">
            <div class="button">
              <div class="icon"><i class="fab fa-plus"></i></div>
              <span style="text-align: right;">Read Article</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-body">
        <div class="overline">
          User Experience ___ </div>
        <h2 class="card-title">User Stories: What They Are and Why They Matter</h2>

        <div class="cardbox">
          <div class="cardimg">
            <img class=alison src="https://kanopi.com/wp-content/uploads/2020/07/Natalie_Yelton-80x80.jpeg">
          </div>
          <div class="cardtext">
            <p class="card__name">Erin Linkins</p>
            <p class="card__position">Director of Human Resources</p>
          </div>
        </div>
      </div>
    </div><br>
  </a>
  <a href="https://kanopi.com/blog/user-stories-what-they-are-and-why-they-matter/">
    <div class="boxcardload" [hidden]="loadcard">
      <div class="boxcardcol-2">
        <div class="cardb" *ngFor="let loadb of cardsb">
          <img src="{{loadb.bimage}}" class="card-img-top" alt="...">
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Read Article</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <div class="overline">{{loadb.boverline}}
            </div>
            <h2 class="card-title">{{loadb.bhead}}</h2>

            <div class="cardbox">
              <div class="cardimg">
                <img class=alison src="{{loadb.bauthimg}}">
              </div>
              <div class="cardtext">
                <p class="card__name">{{loadb.bauthname}}</p>
                <p class="card__position">{{loadb.bauthpos}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </a>
    <br>
    <button class="btn btn-primary" (click)="showloadcard()" type="click">Load More Posts</button><br><br>
  </div>
  <div class="boxcardcol-3">
    <a href="https://kanopi.com/blog/5-simple-ways-to-improve-website-content-accessibility/">
    <div class="card3">
      <img src="https://kanopi.com/wp-content/uploads/2022/08/patrick-fore-0gkw_9fy0eQ-unsplash-sm-425x275.jpg"
        class="card-img-top" alt="...">
      <div class="middle">
        <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
          <div class="wrappers">
            <div class="button">
              <div class="icon"><i class="fab fa-plus"></i></div>
              <span style="text-align: right;">Read Article</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-body">
        <div class="overline">
          Accessibility ____ </div>
        <h2 class="card-title">5 Simple Ways to Improve Website Content Accessibility</h2>
        <div class="cardbox">
          <div class="cardimg">
            <img class=alison src="https://kanopi.com/wp-content/uploads/2018/11/image_from_ios-1-500x500.jpg">
          </div>
          <div class="cardtext">
            <p class="card__name">Faye Polson</p>
            <p class="card__position">WordPress Engineer</p>
          </div>
        </div>
      </div>
    </div>
    <br>
  </a>
  <a href="https://kanopi.com/blog/drupal-planning-and-development/">
    <div class="card3">
      <img src="https://kanopi.com/wp-content/uploads/2020/01/34-425x275.jpg" class="card-img-top" alt="...">
      <div class="middle">
        <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
          <div class="wrappers">
            <div class="button">
              <div class="icon"><i class="fab fa-plus"></i></div>
              <span style="text-align: right;">Read Article</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-body">
        <div class="overline">
          Technical ___ </div>
        <h2 class="card-title">The Ultimate Guide to Drupal Planning and Development</h2>
        <div class="cardbox">
          <div class="cardimg">
            <img class=alison src="https://kanopi.com/wp-content/uploads/2020/07/Natalie_Yelton-80x80.jpeg">
          </div>
          <div class="cardtext">
            <p class="card__name">Natalie Yelton</p>
            <p class="card__position">Content Strategist &amp; Copywriter</p>
          </div>
        </div>
      </div>
    </div>
  </a>
    <br>
    <a href="https://kanopi.com/blog/best-nonprofit-websites/">
    <div class="card3">
      <img src="https://kanopi.com/wp-content/uploads/2020/11/37-425x275.jpg" class="card-img-top" alt="...">
      <div class="middle">
        <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
          <div class="wrappers">
            <div class="button">
              <div class="icon"><i class="fab fa-plus"></i></div>
              <span style="text-align: right;">Read Article</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-body">
        <div class="overline">
          Design ___ </div>
        <h2 class="card-title">The 30 Best Nonprofit Websites to Look to for Inspiration</h2>
        <div class="cardbox">
          <div class="cardimg">
            <img class=alison src="https://kanopi.com/wp-content/uploads/2019/06/Allison-v2-1-300x300.jpg">
          </div>
          <div class="cardtext">
            <p class="card__name">Allison Manley</p>
            <p class="card__position">Director of Marketing &amp; Communications</p>
          </div>
        </div>
      </div>
    </div>
  </a>
    <br>
    <div class="boxcardload" [hidden]="loadcard">
      <div class="boxcardcol-3">
        <div class="cardc" *ngFor="let loadc of cardsc">
          <img src="{{loadc.bimage}}" class="card-img-top" alt="...">
          <div class="middle">
            <a href="https://kanopi.com/blog/givingtuesday-expert-tips-for-successful-communication/">
              <div class="wrappers">
                <div class="button">
                  <div class="icon"><i class="fab fa-plus"></i></div>
                  <span style="text-align: right;">Read Article</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <div class="overline">
              {{loadc.boverline}} </div>
            <h2 class="card-title">{{loadc.bhead}}</h2>
            <div class="cardbox">
              <div class="cardimg">
                <img class=alison src="{{loadc.bauthimg}}">
              </div>
              <div class="cardtext">
                <p class="card__name">{{loadc.bauthname}}</p>
                <p class="card__position">{{loadc.bauthpos}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


